[Unit]
Description=rclone-over-autossh rclone sftp service
After=network.target

[Service]
EnvironmentFile=/etc/rclone-over-autossh/service.conf

# 基础命令配置
ExecStart=/usr/bin/rclone serve sftp /shared \
  --addr $RCloneAddress \
  --user $RCloneUser \
  --pass $RClonePass \
  --dir-perms $RCloneDirPerms \
  --file-perms $RCloneFilePerms \
  --filter-from $RCloneFilterFrom \
  --vfs-cache-mode off 

# 自动重启配置
Restart=always
RestartSec=10
StartLimitInterval=0
StartLimitBurst=0

# 安全加固
User=shared
Group=shared
PrivateTmp=yes
NoNewPrivileges=yes
ProtectSystem=strict
ReadWritePaths=/var/log/rclone-over-autossh
ReadWritePaths=/shared

# 日志输出
StandardOutput=journal
StandardError=journal
SyslogIdentifier=rclone-over-autossh

[Install]
WantedBy=multi-user.target
